/* Variables de colores */
$primary-color: #1DB954; /* Verde estilo Spotify */
$secondary-color: #121212; /* Fondo oscuro */
$text-color: #ffffff;
$card-bg: #222222;
$shadow-color: rgba(0, 0, 0, 0.2);
$button-hover: #188d41;
$next-btn-color: #007bff;
$next-btn-hover: #0056b3;
$background-dark: #181818;
$text-muted: #b3b3b3;
$text-light: #ffffff; /* Asegúrate de que esta variable esté definida */
